<app-container class="mt-16 sm:mt-32">
  <header class="max-w-2xl">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
      Things I’ve made trying to put my dent in the universe.
    </h1>
    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
      I’ve worked on tons of little projects over the years but these are the ones that I’m most proud of. Many of them are open-source, so if you see something that piques your interest, check out the code and contribute if you have ideas for how it can be improved.
    </p>
  </header>
  <div class="mt-16 sm:mt-20">
   <div class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
    <app-card cta="View project">
      <div class="mb-4">
        <img ngSrc="./images/portfolio/chat_ada.jpg" alt=""
        width="500"
        height="500"
        class="aspect-video w-full object-cover">
      </div>
      <app-card-title title="DotCMS Edit content" link="''" />
      <app-card-description>
        <p>Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed.</p>
      </app-card-description>
    </app-card>
    <app-card cta="View project">
      <div class="mb-4">
        <img ngSrc="./images/portfolio/chat_ada.jpg" alt=""
        width="500"
        height="500"
        class="aspect-video w-full object-cover">
      </div>
      <app-card-title title="DotCMS Edit content" link="''" />
      <app-card-description>
        <p>Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed.</p>
      </app-card-description>
    </app-card>
    <app-card cta="View project">
      <div class="mb-4">
        <img ngSrc="./images/portfolio/chat_ada.jpg" alt=""
        width="500"
        height="500"
        class="aspect-video w-full object-cover">
      </div>
      <app-card-title title="DotCMS Edit content" link="''" />
      <app-card-description>
        <p>Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed.</p>
      </app-card-description>
    </app-card>
   </div>
  </div>
</app-container>