<app-container class="mt-9">
  <div class="max-w-2xl">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
      Senior Software Developer
    </h1>
    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
      I'm Nicolas Molina (&#64;nicobytes) Sr Software Developer with more than 10 years of experience in development and technology management. Recognized by Google as an <a href="https://g.dev/nicobytes" target="_blank" class="text-teal-500 dark:text-teal-400">Angular & Web Developer Expert</a>, and by Microsoft as a <a
      class="text-teal-500 dark:text-teal-400"
      target="_blank"
      href="https://mvp.microsoft.com/en-US/MVP/profile/28c464f4-ccb0-ec11-983f-000d3a1017e3"
      >Most Valuable Professional</a
    >.
    </p>
  </div>
  <div class="mt-6 flex gap-6">
    <a target="_blank" href="https://github.com/nicobytes" class="group -m-1 p-1">
      <app-github-icon class="h-5 w-5 block fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300" />
    </a>
    <a target="_blank" href="https://instagram.com/nicobytes" class="group -m-1 p-1">
      <app-instagram-icon class="h-5 w-5 block fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300" />
    </a>
      <a target="_blank" href="https://www.linkedin.com/in/nicobytes/" class="group -m-1 p-1">
        <app-linkedin-icon class="h-5 w-5 block fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300" />
      </a>
      <a target="_blank" href="https://x.com/nicobytes" class="group -m-1 p-1">
        <app-x-icon class="h-5 w-5 block fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300" />
      </a>
      <a target="_blank" href="https://x.com/nicobytes" class="group -m-1 p-1">
        <app-discord-icon class="h-5 w-5 block fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300" />
      </a>
  </div>

</app-container>

 <!-- Photos -->
 <div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    @for (photo of photos$(); track $index) {
      <div
        class='relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800'
        [class.rotate-2]="$index % 2 === 0"
        [class.-rotate-2]="$index % 2 === 1"
        >
        <img
          [ngSrc]="photo.src"
          [alt]="photo.alt"
          width="100"
          height="100"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </div>
    }
  </div>
</div>

<app-container class="mt-24 md:mt-28">
  <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
    <div class="flex flex-col gap-16">
      <app-card cta="Read article">
        <app-card-time [decorate]="true" date="September 5, 2022" />
        <app-card-title title="Crafting a design system for a multiplanetary future" link="''" />
        <app-card-description>
          <p>Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed to create a brand that would still inspire us 100 years from now when humanity has spread across our entire solar system.</p>
        </app-card-description>
      </app-card>
      <app-card cta="Read article">
        <app-card-time [decorate]="true" date="September 5, 2022" />
        <app-card-title title="Crafting a design system for a multiplanetary future" link="''" />
        <app-card-description>
          <p>Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed to create a brand that would still inspire us 100 years from now when humanity has spread across our entire solar system.</p>
        </app-card-description>
      </app-card>
    </div>
    <div class="space-y-10 lg:pl-16 xl:pl-24">
      <app-resume />
    </div>
  </div>
</app-container>